@font-face{
	font-family: TitleFont;
	src: url(cs_regular.ttf);
}

@font-face{
	font-family: NavbarFont;
	src: url(gamecuben.ttf);
}

@font-face{
	font-family: Calligraffiti;
	src: url(Calligraffiti.ttf);
}

@font-face{
	font-family: LemonadeStand;
	src: url('ls.otf');
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: NavbarFont;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
  font-family: NavbarFont;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body{
	background-image: url(gaming-pattern.png);
	background-position: fixed;
}

#title{
	font-family: TitleFont;
	text-align: center;
	font-size: 40pt;
}

.background{
	box-shadow: 2px 2px 2px;
	background-color:rgba(0,0,0,0.2); 
	width:100%; 
	height:500px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.social{
	border-radius: 5px;
	filter: grayscale(100%);
	transition: 0.2s ease-in;
	margin: 15px;
}

.social:hover{
	cursor:pointer;
	border-radius: 15px;
	filter: grayscale(0%);
	transform: scale(1.1);
}

.quote{
	font-family: Calligraffiti;
	font-size: 20pt;
	text-align: center;
}

.text{
	font-family: LemonadeStand;
	font-size: 20pt;
	color: black;
}

.background p{
	text-align: center;
}